<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <outboundRules>
        <!-- SSKTS-136 -->
        <rule name="Content-Type">
          <match serverVariable="RESPONSE_Content-Type" pattern="text/html; charset=UTF-8" />
          <conditions>
            <add input="{REQUEST_URI}" pattern="\.php" />
          </conditions>
          <action type="Rewrite" value="text/html; charset=Shift-JIS"/>
        </rule>
      </outboundRules>
    </rewrite>
  </system.webServer>
</configuration>