@charset "utf-8";
/* container */
html {
  background-color: #000 !important;
}

body {
  min-width: 1000px;
  margin: 0 auto;
}

#container {
  background-position: center 0 !important;
  background-repeat: no-repeat !important;
  background-color: #000 !important;
  background-image: url(/images/jack/mirn_cs_banner_main.jpg) !important;
  width:100%!important;
  min-height:650px!important;
}

#container #contents {
  position: relative;
  background: url(/images/common/bg_gray.gif) repeat;
  padding: 0 30px 30px !important;
}

.jack-side {
  position: absolute;
  top: 0;
  width: 300px;
  height: 650px;
}

.jack-left {
  left: -300px;
}

.jack-right {
  right: -300px;
}

.jack-side a {
  display: block;
  height: 650px;
}

