@charset "utf-8";
/* container */
#container{
	background:url("../images/bg_pagejack.jpg") no-repeat #000 top center!important;
	width:100%!important;
	min-height:650px!important;
}

#container #contents{
	background:url("../images/bg_jack_gray.jpg") repeat!important;
	padding:0 20px 30px 20px!important;
	margin:3px auto 0;
}
