@charset "utf-8";
/* common property */
body {
	line-height:1.4;
	font-size:12px;
	font-family: 'ヒラギノ角ゴ Pro W3','メイリオ',Meiryo,'Hiragino Kaku Gothic Pro','ＭＳ Ｐゴシック','MS P Gothic';
	position:relative;
	background:#AFAFAF;
}

a{
	text-decoration:underline;
}

a:hover{
	text-decoration:none;
}





/* common classes and ids */
.left{
	float:left;
}

.right{
	float:right;
}

.headlineImg{
	margin:0 0 10px 0;
}

.clearfix {
	width:100%;
}

.clearfix:after {
	content: "";
	display: block;
	clear: both;
 }

#header .topArea .topWrap,
#header .bottomArea .bottomWrap,
#container #contents,
#footer .top .topMain,
#footer .bottom .bottomMain{
	width:940px;
	margin:auto;
}


#container #contents .searchArea,
#container #contents .theaterArea,
#container #contents .trailArea,
#container #contents .rankArea,
#container #contents .infoArea{
	margin:0 0 20px 0;
}

#container #contents .infoadArea{
	margin:0 0 20px 4px;
}

#container #contents #mainColumn .rightColumn .infoArea ul li a:hover img,
#footer .top a:hover img,
#footerFixed ul li a:hover img {
	-ms-filter: "alpha( opacity=50 )";
	filter: alpha( opacity=50 );
	opacity:0.5;
}

.accordion_head {
	cursor:pointer;
}





/* take JavaScript */
#footerFixed{
	font-family:monospace;
	position:fixed;
	_position:relative;
	bottom:0;
	height:80px;
	width:100%;
	color:#FFFFFF;
	letter-spacing:-0.10em;
	text-align:center;
	overflow:hidden;
	z-index:100;
}

#footerShade{
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
	background:#111;
	padding:10px 0;
	filter:alpha(opacity=60);
	opacity: 0.6;
}

#footerTop{
    position: relative;
    z-index:1;
    width:940px;
    margin:10px auto 0;
}

#footerTop .leftSection{
	float:left;
}

#footerTop .rightSection{
	float:right;
}

#footerTop .rightSection img{
	cursor:pointer;
}

#footerFixed ul{
	position:relative;
	z-index:1;
	width:940px;
	_width:954px;
	margin:0 auto;
	_margin:0;
	padding:10px 0 0 0;
	text-align:center;
	list-style-type:none;
}

#footerFixed ul li{
	width:226px;
	display:inline;
	margin:0 4px 0 0;
}

#footerFixed ul li.end{
}

#footerFixed ul li.closebtn{
	margin:0;
	width:13px;
}



#footerFixed ul li img{
	margin:0 0 5px 0;
	border:none;
}

/* header */
#header{
	font-size:0;
}

#header .topArea{
	background:url(../images/common/bg_header.gif) repeat-x;
	height:64px;
}

#header .topArea .topWrap .left{
	margin:5px 0 0;
}

#header .topArea .topWrap .left h1{
	float:left;
}

#header .topArea .topWrap .left p{
	float:left;
	margin:5px 0 0 20px;
}

#header .topArea .topWrap .right{
	position:relative;
	height:64px;
}

#header .topArea .topWrap .right ul{
	margin:31px 0 0;
}

#header .topArea .topWrap .right ul li{
	float:left;
}

#header .bottomArea{
	background:url(../images/common/bg_headerBottom.gif) repeat-x;
	height:60px;
}

#header .bottomArea .bottomWrap ul li{
	float:left;
}

#header .bottomArea .bottomWrap ul li img{
	vertical-align:top;
}





/* PankuzuArea */
#PankuzuArea{
	height:40px;
	position:relative;
}

#PankuzuArea ul{
	position:absolute;
	top:20%;
}

#PankuzuArea ul li{
	float:left;
}


/* admission */

.whiteCanvas.aprilArea{
	text-align:center;
	margin:0 0 30px;

	}
.aprilAreaTxt{
	color:#505050;
	font-size:13px;
}
.aprilAreaBtn{
	text-align:center;
	width:277px;
	margin:10px auto 0;

	}

#aprilArea h2.headlineImg{
	margin:30px 0 20px;
	}

/* container */
#container{
	background:url("../images/common/bg_gray.gif") repeat;
	width:100%;
	min-height:650px;
}

#container #contents{
	padding:0 0 30px 0;
}

#container #contents #topColumn{
	margin:0 0 20px;
}

#container #contents #mainColumn .leftColumn{
	float:left;
	width:630px;
}

#container #contents #mainColumn .leftColumn .adArea{
	width:468px;
	height:76px;
	padding:0 80px;
	position:relative;
}

#container #contents #mainColumn .leftColumn .adAreaf{
	width:468px;
	height:76px;
	padding:20px 80px;
	position:relative;
}

#container #contents #mainColumn .leftColumn .searchArea{
	background:url("../images/common/bg_search.jpg") no-repeat;
	width:600px;
	height:93px;
	padding:0 15px;
	position:relative;
}

#container #contents #mainColumn .leftColumn .searchArea .searchBox{
	position:absolute;
	bottom:15px;
	width:600px;
}

#container #contents #mainColumn .leftColumn .searchArea .Box{
	float:left;
	margin:10px 10px 0 0;
	width:150px!important;
}

#container #contents #mainColumn .leftColumn .searchArea .Box p{
	margin:0 0 7px 0;
}

#container #contents #mainColumn .leftColumn .searchArea .Box select{
	width:150px;
}

#container #contents #mainColumn .leftColumn .searchArea .submitBox{
	float:right;
}

#container #contents #mainColumn .leftColumn .searchArea .submitBox{
	float:right;
}

#container #contents #mainColumn .leftColumn .theaterArea{
	background:url("../images/common/bg_theaterList.jpg") no-repeat;
	width:630px;
	height:332px;
}

#container #contents #mainColumn .leftColumn .theaterArea .theaterLinkBox{
	padding:60px 15px 0;
}

#container #contents #mainColumn .leftColumn .theaterArea .theaterLinkBox .Box{
	margin:0 0 10px 0;
}

#container #contents #mainColumn .leftColumn .theaterArea .theaterLinkBox .Box .kind,
#container #contents #mainColumn .leftColumn .theaterArea .theaterLinkBox .Box ul{
	float:left;
}

#container #contents #mainColumn .leftColumn .theaterArea .theaterLinkBox .Box ul{
	float:right;
	margin:5px 0 0 0;
	width:500px;
}

#container #contents #mainColumn .leftColumn .theaterArea .theaterLinkBox .Box ul li{
	float:left;
	margin:0 10px 5px 0;
	white-space:nowrap;
	position:relative;
}

#container #contents #mainColumn .leftColumn h3.lightBlueTitle{
	color:#129dde;
	font-size:16px;
	font-weight:bold;
	margin:0 0 10px 0;
}

#container #contents #mainColumn .leftColumn h3.bottomLine{
	background:url("../images/common/img_line.gif") no-repeat;
	background-position:bottom;
	padding:0 0 10px;
}

#container #contents #mainColumn .leftColumn h3.blackTitle{
	color:#111;
	font-size:14px;
	font-weight:bold;
	margin:0 0 10px 0;
}

#container #contents #mainColumn .leftColumn h3.redTitle{
    color:#e50307;
	font-size:14px;
	font-weight:bold;
	margin:0 0 10px 0;
}
#container #contents #mainColumn .leftColumn .whiteCanvas{
	background:#fff;
	padding:30px 15px;
	width:600px;
}

#container #contents #mainColumn .leftColumn .NewsBox tr{
	width:600px;
}

#container #contents #mainColumn .leftColumn .NewsBox .photo{
	width:60px;
}

#container #contents #mainColumn .leftColumn .NewsBox .txt{
	width:530px;
	padding:0 0 0 10px;
}

#container #contents #mainColumn .leftColumn .NewsBox .txt .NewsDay{
	color:#0265ff;
	margin:0 0 3px 0;
}

#container #contents #mainColumn .leftColumn .NewsBox .txt .NewsTitle{
	clear:both;
	float:left;
}

#container #contents #mainColumn .leftColumn .NewsBox .txt .accordion_head{
	vertical-align: middle
}

#container #contents #mainColumn .leftColumn .NewsBox .txt .accordion_head img{
	vertical-align:sub;
	 /vertical-align:middle;
	margin:0 0 0 5px;
}

#container #contents #mainColumn .leftColumn .NewsBox .txt .sentence{
	clear:both;
	padding:10px 0 0 0;
}
.sentence{word-break:break-all;
}

#container #contents #mainColumn .leftColumn .menuTable{
	margin:0 0 20px 0;
	font-size:14px;
}

#container #contents #mainColumn .leftColumn .menuTable tr.line td{
	height:20px;
}

#container #contents #mainColumn .leftColumn .menuTable tr td.menuName{
	width:400px;
	font-weight:bold;
}

#container #contents #mainColumn .leftColumn .menuTable tr td.menuprice{
	width:200px;
	text-align:right;
	font-weight:bold;
}

#container #contents #mainColumn .leftColumn .menuTable tr td p.optionText{
	font-size:10px;
	font-weight:normal;
}

#container #contents #mainColumn .leftColumn .priceTable{
	margin:0 0 20px 0;
	font-size:14px;
}

#container #contents #mainColumn .leftColumn .priceTable tr.line td{
	height:20px;
}

#container #contents #mainColumn .leftColumn .priceTable tr td.priceSubject,
#container #contents #mainColumn .leftColumn .priceTable tr td.priceAdd{
	width:150px;
}

#container #contents #mainColumn .leftColumn .priceTable tr td.priceSubject{
	font-weight:bold;
}

#container #contents #mainColumn .leftColumn .priceTable tr td.priceAdd{
	font-weight:bold;
    text-align: right;
    position:relative;
}
#container #contents #mainColumn .leftColumn .priceTable tr td.priceAdd p{
    position:relative;
}
#container #contents #mainColumn .leftColumn .priceTable tr td.priceAdd span.leftSpan{
	float:left;
	width:90px;
}

#container #contents #mainColumn .leftColumn .priceTable tr td.priceAdd span.rightSpan{
	position:absolute;
	top:0.75em;
	right:0;
}

#container #contents #mainColumn .leftColumn .priceTable tr td.priceNotes{
	width:300px;
    font-size:10px;
 }

#container #contents #mainColumn .leftColumn .priceTable tr.top  p{
	font-weight:bold;
	margin:0 0 20px 0;
}

#container #contents #mainColumn .leftColumn .priceTable tr.bottom  p{
    font-size:10px;
}

#container #contents #mainColumn .leftColumn .imaxTable{
	margin:0 0 20px 0;
	font-size:14px;
}

#container #contents #mainColumn .leftColumn .imaxTable tr.line td{
	height:20px;
}

#container #contents #mainColumn .leftColumn .imaxTable tr td.priceSubject,
#container #contents #mainColumn .leftColumn .imaxTable tr td.priceAdd{
	width:150px;
}

#container #contents #mainColumn .leftColumn .imaxTable tr td.priceSubject{
	font-weight:bold;
}

#container #contents #mainColumn .leftColumn .imaxTable tr td.priceAdd{
	font-weight:bold;
    text-align: right;
}

#container #contents #mainColumn .leftColumn .imaxTable tr td.priceNotes{
	width:300px;
}

#container #contents #mainColumn .leftColumn .imaxTable tr td.priceNotes span.note{
    font-size:10px;
	font-weight:bold;
}

#container #contents #mainColumn .leftColumn .ImaxNote{
	margin:0 0 20px;
    font-size:10px;
    border-bottom:#129DDE 1px dashed;
    padding:0 0 25px;
}

#container #contents #mainColumn .leftColumn div.advanceNote{
	margin:0 0 20px 0;
}

#container #contents #mainColumn .leftColumn .advanceTable tr.topColumn{
	font-weight:bold;
}

#container #contents #mainColumn .leftColumn .advanceTable tr td{
    width:100px;
    text-align:center;
}

#container #contents #mainColumn .leftColumn .advanceTable tr td.movieName{
    width:130px;
}

#container #contents #mainColumn .leftColumn .advanceTable tr td.movieTicket{
    width:70px;
}

#container #contents #mainColumn .leftColumn .advanceTable tr.movieColumn td.movieAdd{
    text-align:right;
}

#container #contents #mainColumn .leftColumn .advanceTable tr.line{
    width:600px;
}

#container #contents #mainColumn .leftColumn .advanceTable tr.line td{
	height:20px;
}

#container #contents #mainColumn .leftColumn .accessTable{
	margin:0 0 20px 0;
}

#container #contents #mainColumn .leftColumn .accessTable tr td.accessLeft{
	font-weight:bold;
    width:100px;
}

#container #contents #mainColumn .leftColumn .accessTable tr td.accessRight{
    width:500px;
}

#container #contents #mainColumn .leftColumn .accessTable tr td.accessRight p.top{
    margin:0 0 10px 0;
}

#container #contents #mainColumn .leftColumn .accessTable tr td.accessRight p span{
    color:#e50307;
    font-weight:bold;
    font-size:14px;
}

#container #contents #mainColumn .leftColumn .accessTable tr.line td{
	height:20px;
}

#container #contents #mainColumn .leftColumn .accessMap iframe{
	margin:0 0 5px 0;
}

#container #contents #mainColumn .leftColumn .accessMap small{
	font-size:12px;
}

#container #contents #mainColumn .leftColumn .companyTable tr td.menu{
	font-weight:bold;
    width:100px;
}

#container #contents #mainColumn .leftColumn .companyTable tr td.object{
    width:500px;
}

#container #contents #mainColumn .leftColumn .companyTable tr.line td{
	height:20px;
}

#container #contents #mainColumn .leftColumn .textMargin{
	margin:0 0 20px;
}

#container #contents #mainColumn .leftColumn .bottomBorderArea{
	margin:0 0 20px;
	padding:0 0 20px;
	border-bottom:1px solid #111;
}

#container #contents #mainColumn .leftColumn .floorTable{
	margin:0 0 20px;
	border:1px solid #aaaaaa;
}

#container #contents #mainColumn .leftColumn .floorTable tr th,
#container #contents #mainColumn .leftColumn .floorTable tr td{
	width:130px;
	padding:5px 0;
	text-align:center;
	border-right:1px solid #dfdfdf;
	border-bottom:1px solid #dfdfdf;
}

#container #contents #mainColumn .leftColumn .floorTable tr .rightColumn{
	border-right:none;
	float:none;
}

#container #contents #mainColumn .leftColumn .floorTable tr .bottomColumn{
	border-bottom:none;
}

#container #contents #mainColumn .leftColumn .floorTable tr .first{
	width:60px;
}

#container #contents #mainColumn .leftColumn .floorArea{
	margin:0 0 20px;
	padding:0 10px;
}

#container #contents #mainColumn .leftColumn .floorArea .title{
	margin:0 0 10px;
	font-size:14px;
	font-weight:bold;
}

#container #contents #mainColumn .leftColumn .floorArea .floorBox{
	margin:0 0 20px;
}

#container #contents #mainColumn .leftColumn .floorArea .floorBox .left a:hover img{
	-ms-filter: "alpha( opacity=50 )";
	filter: alpha( opacity=50 );
	opacity:0.5;
}

#container #contents #mainColumn .leftColumn .floorArea .floorBox .right{
	width:360px;
	text-align:left;
}
#container #contents #mainColumn .leftColumn .floorArea .floorBox .right .subTitle{
	margin:0 0 10px;
	font-weight:bold;
}

#container #contents #mainColumn .leftColumn .textArea{
	padding:0 10px;
}

#container #contents #mainColumn .leftColumn .textArea p.textUnity{
	margin:15px 0 0;
}

#container #contents #mainColumn .leftColumn .textArea p.textUnity span{
    color:#e50307;
}

#container #contents #mainColumn .leftColumn .SearchListArea .SearchLisBox{
	background:url("../images/common/bg_showingSearch.gif") no-repeat;
	width:630px;
	height:51px;
	margin:0 0 20px;
}

#container #contents #mainColumn .leftColumn .SearchListArea .futureList{
	background:url("../images/common/bg_futureSearch.gif") no-repeat;
}

#container #contents #mainColumn .leftColumn .SearchListArea .SearchLisBox .searchMovieBox{
	float:right;
	margin:12px 30px 0 0;
}

#container #contents #mainColumn .leftColumn .SearchListArea .SearchLisBox .searchMovieBox select{
	height:27px;
	font-size:14px;
}

#container #contents #mainColumn .leftColumn .SearchListArea .SearchLisBox .Box,
#container #contents #mainColumn .leftColumn .SearchListArea .SearchLisBox .submitBox{
	float:left;
}

#container #contents #mainColumn .leftColumn .SearchListArea .SearchLisBox .Box{
	margin:0 10px 0 0;
}

#container #contents #mainColumn .leftColumn .movieListArea{
	background:url("../images/common/img_line.gif") no-repeat bottom;
	padding:0 0 20px;
	margin:20px 0 0;
}

#container #contents #mainColumn .leftColumn .movieListArea .left{
	width:131px;
}

#container #contents #mainColumn .leftColumn .movieListArea .right{
	width:450px;
}

#container #contents #mainColumn .leftColumn .movieListArea .right p.day{
	font-size:14px;
	font-weight:bold;
}

#container #contents #mainColumn .leftColumn .movieListArea .right p.name{
	font-size:16px;
	font-weight:bold;
}

#container #contents #mainColumn .leftColumn .movieListArea .right p.ename{
	font-size:14px;
	font-weight:bold;
	margin:2px 0;
}

#container #contents #mainColumn .leftColumn .movieListArea .right p.copy{
	font-size:10px;
}

#container #contents #mainColumn .leftColumn .movieListArea .right p.mark{
	display:inline-block;
	margin:10px 0 0;
}

#container #contents #mainColumn .leftColumn .movieListArea .right p.mark img{
	max-height:1.5em;
}

#container #contents #mainColumn .leftColumn .movieListArea .right p.tuika{
	margin:10px 0 0;
	color:#E50307;
}

#container #contents #mainColumn .leftColumn .movieListArea .right p.day{
	font-size:14px;
	font-weight:bold;
}

#container #contents #mainColumn .leftColumn .movieListArea .right p.official{
	margin:10px 0 0;
	clear:both;
}

#container #contents #mainColumn .leftColumn .movieListArea .right p.official img{
	vertical-align:middle;
	margin:0 10px 0 0;
}

#container #contents #mainColumn .leftColumn .movieListArea .right ul{
	width:430px;
	margin:20px 0 0;
}

#container #contents #mainColumn .leftColumn .movieListArea .right ul li{
	float:left;
}

#container #contents #mainColumn .leftColumn .movieListArea .right ul li a:hover img{
	-ms-filter: "alpha( opacity=50 )";
	filter: alpha( opacity=50 );
	opacity:0.5;
}

#container #contents #mainColumn .leftColumn h3.borderHeadline{
	font-size:16px;
	margin:0 0 20px;
	padding:0 0 5px;
	border-bottom:1px solid #111;
}

#container #contents #mainColumn .leftColumn .theaterListArea{
   margin:0 0 20px 0;
}

#container #contents #mainColumn .leftColumn .theaterListArea li{
   margin:0 0 10px 0;
}

#container #contents #mainColumn .leftColumn .theaterListArea p{
	float:left;
}

#container #contents #mainColumn .leftColumn .theaterListArea p.theaterName{
	width:350px;
}

#container #contents #mainColumn .leftColumn .theaterListArea p.theaterName img{
   vertical-align: middle;
   margin:0 10px 0 0;
}

#container #contents #mainColumn .leftColumn .theaterListArea p.theaterPracce{
	width:70px;
}

#container #contents #mainColumn .leftColumn .theaterListArea p.theaterService{
	width:170px;
	text-align:right;
}

#container #contents #mainColumn .leftColumn .theaterListArea p.theaterService a.link{
	margin:0 5px 0 0;
}

#container #contents #mainColumn .leftColumn .scheduleBox .topNotesBox,
#container #contents #mainColumn .leftColumn .scheduleBox .topTimeBox,
#container #contents #mainColumn .leftColumn .scheduleBox .bottomNotesBox{
	margin:0 0 10px;
}

#container #contents #mainColumn .leftColumn .scheduleBox .BtnBox{
	margin:0 0 10px;
}

#container #contents #mainColumn .leftColumn .scheduleBox .red{
	color:red;
}


#container #contents #mainColumn .leftColumn .scheduleBox .small{
	font-size:10px;
}

#container #contents #mainColumn .leftColumn .scheduleBox .middle{
	font-size:12px;
}

#container #contents #mainColumn .leftColumn .scheduleBox .large{
	font-size:14px;
}

#container #contents #mainColumn .leftColumn .scheduleBox .topTimeBox p.notetxt{
	font-size:10px;
	margin:0 0 10px;
}

#container #contents #mainColumn .leftColumn .scheduleBox .topTimeBox p a:hover img{
	-ms-filter: "alpha( opacity=50 )";
	filter: alpha( opacity=50 );
	opacity:0.5;
}

#container #contents #mainColumn .leftColumn p.exception{
	margin:20px 0 10px;
}

#container #contents #mainColumn .leftColumn .dayListBox{
	width:542px;
	padding:5px 25px;
	background:#F5F5F5;
	margin:0 0 20px;
	position: relative;
	border: 4px solid #D7D7D7;
}

#cal_left{
	/* margin:12px 4px 0 5px;*/
	position: absolute;
	left: 5px;
    top: 6px;
}

#cal_right{
	/*margin:12px 5px 0 0;*/
	position: absolute;
	right: 5px;
    top: 6px;
}

#container #contents #mainColumn .leftColumn .bx-wrapper ul{
	transform:none!important;
}

#container #contents #mainColumn .leftColumn .dayListBox ul{
	float:left;
}

#container #contents #mainColumn .leftColumn .dayListBox ul li{
	float:left;
	height:60px;
	background:#fff;
	position:relative;
	/*margin:7px 4px 0 0;*/
	margin-right:2px!important;
	text-align:center;
    border-bottom: 1px solid #BDBDBD;
    border-left: 1px solid #E3E3E3;
    border-right: 1px solid #E3E3E3;
}

#container #contents #mainColumn .leftColumn .dayListBox ul li.notAvailable{
	background:#cccccc;
}

#container #contents #mainColumn .leftColumn .dayListBox ul li p.day{
	margin:10px 0 0;
	font-size:14px;
}

#container #contents #mainColumn .leftColumn .dayListBox ul li p.day span{
	font-size:12px;
}

#container #contents #mainColumn .leftColumn .dayListBox ul li p.Sat{
	color:#0033c7;
}

#container #contents #mainColumn .leftColumn .dayListBox ul li p.Sun{
	color:#ff6302;
}

#container #contents #mainColumn .leftColumn .dayListBox ul li p.icon{
	margin:5px 0 0;
}

#container #contents #mainColumn .leftColumn .dayListBox ul li p.corner{
	position:absolute;
	bottom:3px;
	right:3px;
	display:block;
}

#container #contents #mainColumn .leftColumn .dayListBox ul li p.corner_white{
	position:absolute;
	bottom:3px;
	right:3px;
	display:none;
}

#container #contents #mainColumn .leftColumn .dayListBox ul li.notAvailable p.corner{
	position:absolute;
	bottom:3px;
	right:3px;
	display:none;
}

#container #contents #mainColumn .leftColumn .dayListBox ul li.notAvailable p.corner_white{
	position:absolute;
	bottom:3px;
	right:3px;
	display:block;
}


#container #contents #mainColumn .leftColumn .movieListBox h3.redTitle{
	font-size:16px;
}

#container #contents #mainColumn .leftColumn .movieListBox div.top{
	margin:0 0 10px 0;
}

#container #contents #mainColumn .leftColumn .movieListBox div.top .left{
	font-size:14px;
	font-weight:bold;
}

#container #contents #mainColumn .leftColumn .movieListBox div.top .left a{
	font-size:16px;
}

#container #contents #mainColumn .leftColumn .movieListBox div.top .right{
	font-size:14px;
	font-weight:bold;
}

#container #contents #mainColumn .leftColumn .movieListBox div.bottom{
	border:1px solid #96c8f0;
	background-color:#e6f0ff;
	margin:0 0 20px;
}

#container #contents #mainColumn .leftColumn .movieListBox div.bottom ul{
	height:95px;
}

#container #contents #mainColumn .leftColumn .movieListBox div.bottom ul li{
	background:url("../images/common/bg_dotLine.gif") no-repeat left;
	width:119px;
	height:95px;
	float:left;
	text-align:center;
	position:relative;
}

#container #contents #mainColumn .leftColumn .movieListBox div.bottom ul li p.timeTxt{
	margin:10px 0 0px;
}

#container #contents #mainColumn .leftColumn .movieListBox div.bottom ul li p.timeTxt span{
	font-size:18px;
	font-weight:bold;
}

#container #contents #mainColumn .leftColumn .movieListBox div.bottom ul li p.buyBtn img{
	vertical-align:middle;
	height: 25px;
}

#container #contents #mainColumn .leftColumn .movieListBox div.bottom ul li p.corner{
	position:absolute;
	top:2px;
	right:2px;
}
#container #contents #mainColumn .leftColumn .movieListBox div.bottom ul li p.corner2{
	position:absolute;
	top:3px;
	right:4px;
}
#container #contents #mainColumn .leftColumn .movieListBox div.bottom ul li.start{
	background:none;
}

#container #contents #mainColumn .leftColumn .movieListBox .movieRepeattBox{
	margin:0 0 20px;
}

#container #contents #mainColumn .leftColumn .scheduleBox .notesBox p{
	margin:10px 0 0;
}

#container #contents #mainColumn .leftColumn .bottomBorderArea p.link{
	margin:0 0 10px;
}

#container #contents #mainColumn .leftColumn .textArea .questionBox{
	margin:0 0 20px;
}

#container #contents #mainColumn .leftColumn .textArea .questionArea{
}

#container #contents #mainColumn .leftColumn .textArea .pageTop{
	float:right;
}

#container #contents #mainColumn .leftColumn .textArea .questionBox .question{
	clear:both;
	color:#E50307;
}

#container #contents #mainColumn .leftColumn .textArea .questionBox .answer{
	clear:both;
}

#container #contents #mainColumn .leftColumn .textArea .questionBox .answer span.notes{
	font-size:10px;
}

#container #contents #mainColumn .leftColumn .textArea .questionBox .left{
	width:20px;
}

#container #contents #mainColumn .leftColumn .textArea .questionBox .right{
	text-align:left;
	width:560px;
}

#container #contents #mainColumn .leftColumn ul.sitemapLink {
	padding:0 0 0 40px;
	margin:0 0 20px;
}

#container #contents #mainColumn .leftColumn .theaterLink{
	padding:0 0 0 20px;
}

#container #contents #mainColumn .leftColumn .theaterLink .theaterLinkList{
	margin:0 0 10px;
}

#container #contents #mainColumn .leftColumn .theaterLink ul.linkList {
	display:none;
	padding:0 0 0 20px;
	margin:10px 0 0 0;
}

#container #contents #mainColumn .leftColumn .theaterLink p.flip {
	text-decoration:underline;
	background-image:url(../images/common/btn_close.gif);
	background-repeat:no-repeat;
	background-position:left 5px;
	padding:0 0 0 15px;
}

#container #contents #mainColumn .leftColumn .theaterLink p.selected {
	background-image:url(../images/common/btn_open.gif);
	background-repeat:no-repeat;
	background-position:left 5px;
	padding:0 0 0 15px;

}

#container #contents #mainColumn .leftColumn .theaterLink p.flip:hover {
	text-decoration:none;
	cursor:pointer;
}

#container #contents #mainColumn .leftColumn .theaterLink ul.linkList li{
	margin:0 0 10px;
}

#container #contents #mainColumn .leftColumn ul.sitemapLink li{
	margin:0 0 10px;
}

#container #contents #mainColumn .leftColumn .submitBox input:hover{
	-ms-filter: "alpha( opacity=50 )";
	filter: alpha( opacity=50 );
	opacity:0.5;
}

#container #contents #mainColumn .leftColumn .start,
#container #contents #mainColumn .leftColumn .end{
	margin:0!important;
}

#container #contents #mainColumn .rightColumn{
	float:right;
	width:258px;
}

#container #contents #mainColumn .rightColumn .infoArea ul li{
	margin:0 0 10px;
}

#container #contents #mainColumn .rightColumn .infoArea ul li img,
#container #contents #mainColumn .rightColumn .infoArea ul li a img{
	vertical-align:top;
}

#container #contents #mainColumn .rightColumn .trailArea,
#container #contents #mainColumn .rightColumn .trailArea p,
#container #contents #mainColumn .rightColumn .trailArea p script{
	position:relative;
	z-index:1;
}

#container #contents #mainColumn .rightColumn .rankArea .between{
	text-align:left;
	color:#0265FF;
	font-weight:bold;
	margin:5px 0;
}

#container #contents #mainColumn .rightColumn .rankArea .rank{
	font-size:85%;
	margin:0 0 10px;
}

#container #contents #mainColumn .rightColumn .rankArea .end{
	margin:0;
}

#container #contents #mainColumn .rightColumn .rankArea .rank div{
	float:left;
}

#container #contents #mainColumn .rightColumn .rankArea .rank div.num{
	width:20px;
	padding:13px 12px 0;
}

#container #contents #mainColumn .rightColumn .rankArea .rank div.photo{
	width:68px;
}

#container #contents #mainColumn .rightColumn .rankArea .rank div.txt{
	width:120px;
	padding:5px 0 5px 20px;
}

#container #contents #mainColumn .rightColumn .theaterListArea{
	background:url("../images/common/bg_miniTheater.jpg") no-repeat left;
	width:258px;
	height:333px;
	margin:0 auto 20px;
}

#container #contents #mainColumn .rightColumn .theaterListArea .theaterLink{
	padding:50px 15px 0;
}

#container #contents #mainColumn .rightColumn .theaterListArea .theaterLink .Box{
	margin:0 0 15px;
}

#container #contents #mainColumn .rightColumn .theaterListArea .theaterLink .Box .kind{
	float:left;
}
#container #contents #mainColumn .rightColumn .theaterListArea .theaterLink .Box ul{
	float:right;
	width:140px;
	margin:5px 0 0;
}

#container #contents #mainColumn .rightColumn .theaterListArea .theaterLink .Box ul li{
	float:left;
	margin:0 0 5px 10px;
	white-space:nowrap;
	position:relative;
}





/* footer */
#footer{
	margin:0 0 80px;
	_margin:0;
}

#footer .top{
	background:url("../images/common/bg_lowGray.gif") repeat;
	width:100%;
	height:41px;
	padding:10px 0;
	text-align:center;
	color:#fff;
}

#footer .top a,
#footer .top a:hover{
	color:#fff;
}

#footer .top .topMain{
	position:relative;
	overflow:hidden;
}

#footer .top .topMain ul{
	position:relative;

}

#footer .top .topMain ul li{
	display:inline;
}

#footer .top .topMain ul.ftrListTop{
	margin:0 0 10px;
}

#footer .top .topMain ul.ftrListBottom{
	clear:both;
}

#footer .top .topMain ul li{
	position:relative;
	margin:0 5px 0 0;
}

#footer .bottom{
	background:#afafaf;
	width:100%;
	height:30px;
	padding:5px 0 0;
	text-align:center;
	color:#646464;
	font-weight:bold;
}
.senkouclass {
	color:#FF0000;
	margin:0 0 35px 0;
}

/* Schedule */
.movieRepeattBox li .buyBtn span{
	display: block;
	font-size: 12px;
	margin-bottom: 5px;
}
/* theater */
.ticket_relation_link li{
	float: left;
	margin:0px 10px;
}
.online_des_btn{
	text-align: center;
	font-size: 14px;
	padding:20px 0px;
	width: 275px;
	border: solid 2px #39b1e8;
	color: #39b1e8;
	border-radius: 4px;
	display: block;
	text-decoration: none;
}
.mvtk_des_btn{
	text-align: center;
	font-size: 14px;
	padding:20px 0px;
	width: 275px;
	border: solid 2px #707070;
	color: #707070;
	border-radius: 4px;
	display: block;
	text-decoration: none;
}