

.leftColumn h3 {
font-size: 16px;
color: #000000;
height: 40px;
width: 600px;
margin: 30px 0 24px 0px;
text-align: center;
background-color: #e6e6e6;
}

.leftColumn h4 {
font-size: 16px;
color: #39b1e8;
margin: 0 0 0 15px;
}

.step {
margin: 40px 0px;	
}


