@charset "utf-8";
/* online */
*{
    padding: 0;
    margin: 0;
}

.leftColumn h3 {
    font-size: 20px;
    font-weight: bold; 
    text-align: center;
    padding: 10px 0px 30px;
    color: #00a0e9;
}

.leftColumn h4 {
    font-size: 16px;
    text-align: center;
    padding: 5px 0px;
    margin-bottom: 20px;
}

p {
    font-size: 12px;
    line-height: 180%;
}

.thick {
    font-weight: bold; 
}


.merit h4 {
    color: #fff;
    background-color: #00a0e9;
    margin-right: -15px;
    margin-left: -15px;
}

.merit {
    margin-bottom: 20px;
}

.admission h4 {
    color: #fff;
    background-color: #8e8e8e;
    margin-right: -15px;
    margin-left: -15px;
}


.leftColumn .title {
    font-size: 20px;
    text-align: center;
    margin-bottom: 20px;
}

.text01 {
    font-size: 14px;
    text-align:center;
    margin-bottom: 30px;
}

.text02 {
    font-size: 16px;
    font-weight: bold; 
}

.process {
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 10px;
    background-color: #ededed;
    border-radius: 4px;
}

.leftColumn img {
    margin-bottom: 20px;
}

.purchase {
    background-color: #ececec;
    margin-right: -15px;
    margin-left: -15px;
    padding: 0 15px;
}

.redzone {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid red;
    color: red;

}

.redtext{
    color: red; 
    margin-bottom: 10px;
}

.admission span{
    color: #00a0e9;
}

.leftColumn .title02{
    border-bottom: 1px solid #cdcdcd;
    margin-bottom: 10px;
}

