@charset "utf-8";
/* online */
*{
    padding: 0;
    margin: 0;
}

.leftColumn h3 {
    font-size: 20px;
    text-align: center;
    padding: 10px 0px 30px;
    color: #00a0e9;
}

.leftColumn h4 {
    font-size: 16px;
    text-align: center;
    padding: 5px 0px;
    margin-bottom: 20px;
}

p {
    font-size: 12px;
}


.merit h4 {
    color: #fff;
    background-color: #00a0e9;
    margin: 0 -15px;
}

.merit h4 {
    color: #fff;
    background-color: #8e8e8e;
    margin: 0 -15px;
}


.leftColumn .title {
    font-size: 20px;
    text-align: center;
    margin-bottom: 20px;
}

.text01 {
    font-size: 14px;
    text-align:center;
    margin-bottom: 30px;
}

.process {
    padding: 10px;
    margin-bottom: 10px;
    background-color: #ededed;
    border-radius: 4px;
}

.leftColumn img {
    margin-bottom: 20px;
}

.purchase {
    background-color: #ececec;  
}