@charset "utf-8";
/* Tab nav */

/* JavaScriptが使用不能なときでも、箱に含まれるスライダー内容を保つために、これを使ってください（yahoo翻訳にて） */
.coda-slider-no-js .coda-slider { 
    height: 200px; 
    overflow: auto !important; 
    padding-right: 20px 
}
/* スライドコンテンツの横幅と高さ */
.coda-slider, .coda-slider .panel { 
    width: 807px;  
}
.coda-slider .panel img { 
    width: 100%; 
    height: auto;
}

/* スライドコンテンツの大きさと表示位置 */
.coda-slider-wrapper { 
    padding: 0;  
    position:relative; 
    width: 807px; 
    margin: 0; 
}
/* ベース（触らない方が良い部分） */
.coda-slider { 
    float: left; 
    overflow: hidden; 
    position: relative; 
}
.coda-slider .panel { 
    display: block; 
    float: left;
}
.coda-slider .panel-container { 
    position: relative; 
}
/*	
.coda-nav-left, .coda-nav-right { float: left }
.coda-nav-left a, .coda-nav-right a { display: block; text-align: center; text-decoration: none }
*/

#navi{
	padding: 15px 25px 20px;
}

#navi ul li{
	margin:0 0 5px 0;
}

.footerArea{
	position:absolute;
	bottom:0;
	background:#fff ;
	width:100%;
	padding:3px 0;
	text-align:center;
	font-size:10px;
}

.pngs:hover img{
	filter:alpha(opacity=100);
	-moz-opacity:none!important;
	opacity:none!important;
}

#footer ul {
    width: 760px;
}
/* .coda-nav{width: px;}   4個 */
/* .coda-nav{width: 182px;}   5個 */
/* .coda-nav{width: 206px;}   6個 */
/* .coda-nav{width: 230px;}   7個 */
.coda-nav{width:182px;}



/*  #slider_btn {width: 963px;}   4個 */
#slider_btn {width: 963px;}
