m_test/magazine/images/btn_3.gif
m_test/

# env
env.php
Web.config
.user.ini

# upload
theaters_image/campaign/*
theaters_image/flv/*
theaters_image/flvimage/*
theaters_image/movie/*

# Mac OS
*.DS_Store

# IDE
/nbproject
.project
.settings

# git
!.gitkeep
