body{
			color:#999999;
			font-family: "ÇlÇr ÉSÉVÉbÉN", "MS Gothic", "OsakaÅ|ìôïù", Osaka-mono, monospace;
			font-size:13px;
			line-height:18px;
			margin:0px;

}


#contents{
			width:640px;
			height:1851px;
}

.bg_main{
			position: relative;
			width:640px;
			height:1851px;
			margin:0px;

}


.margin{
			vertical-align:bottom;
			margin-top:0px;
			margin-left:0px;
			margin-bottom:0px;
}


.main{
			position: absolute;
			width:640px;			
			top: 20px;
			left:20px;
}



.top{
			position: relative;
			width:640px;
			height:515px;
			margin:0px;

}



.step{
			position: relative;
			width:563px;
			height:198px;
			margin-top:20px;
			margin-left:10px;
			margin-bottom:30px;

}

.text_step{
			position: absolute;
			top: 180px;
			left:30px;

}

.font-size{
			color:white;
			font-size:16px;
			line-height:21px;

}

.text-area{
			width:520.5px;
}

.text-area2{
			width:540.4px;
			font-size:12px;
			line-height:18px;
			margin-top:40px;
			margin-left:30px;
}

.text-area3{
			width:542px;
			font-size:13px;
			line-height:18px;
}

.text-copy{
			width:450px;
			height:73px;
			margin-left:30px;
}

.text-hutta{
			font-size:10px;
			line-height:15px;
			float:left;
}




.button{
			vertical-align:bottom;
			width:577px;
			height:37px;
			
}


.box_story{
			width:640px;
			margin-top:130px;
			
}



.box_trailer{
			width:400px;
			height:222px;
			margin-left:100px;
			
}


.position-right{
			margin-left:420px;

}

.box_present{
			width:640px;
			margin-top:100px;
			margin-left:26px;
}

.box_entry{
			width:640px;
			margin-top:100px;
			margin-left:30px;
			
}


.present{
			margin-left:4px;
			margin-right:4px;
}

.entry{
			margin-top:30px;
			margin-left:30px;
			margin-bottom:50px;
}

.box_hutta{
			margin-top:30px;

}

.hutta{
			margin-left:20px;
			margin-top:40px;
}

.trailer2{
			position: absolute;
			top:0px;
			left:30px;

}


fieldset,img {

	border: 0;

}