@charset "utf-8";



.oneColFixCtrHdr #mainContent h1 {
	border-bottom-width: 2px;
	border-left-width: 4px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #000000;
	border-right-color: #000000;
	border-bottom-color: #000000;
	border-left-color: #000000;
	font-size: 15px;
	font-style: normal;
	font-weight: bold;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 8px;
	color: #000000;
	font-family:"ＭＳ Ｐゴシック", Osaka, "ヒラギノ角ゴ Pro W3";
}

.oneColFixCtrHdr #description {
	color: #FF0033;
	text-align: center;
}

.oneColFixCtrHdr #mainContent th {

	width: 140px;

	background-color: #8E5D76;

	color: #FFFFFF;

	text-align: left;

	padding: 10px;

	font-size: 12px;

}

.oneColFixCtrHdr #confirmation {

	color: #331200s;

}

.oneColFixCtrHdr #mainContent td {

	padding: 10px;

	background-color: #ebebeb;

}

.oneColFixCtrHdr #formMessage {

	width: 450px;

	font-size: 16px;

}

.oneColFixCtrHdr #formToName {

	width: 450px;

	font-size: 16px;

}

.oneColFixCtrHdr #formToFurigana {

	width: 450px;

	font-size: 16px;

}

.oneColFixCtrHdr #formToZip1 {

	width: 50px;

	font-size: 16px;

}

.oneColFixCtrHdr #formToZip2 {

	width: 80px;

	font-size: 16px;

}

.oneColFixCtrHdr #formToAddress1 {

	width: 450px;

	font-size: 16px;

}

.oneColFixCtrHdr #formToAddress2 {

	width: 450px;

	font-size: 16px;

}

.oneColFixCtrHdr #formToTel {

	width: 450px;

	font-size: 16px;

}

.oneColFixCtrHdr #formName {

	width: 450px;

	font-size: 16px;

}

.oneColFixCtrHdr #formFurigana {

	width: 450px;

	font-size: 16px;

}

.oneColFixCtrHdr #formAge {

	width: 50px;

	font-size: 16px;

}

.oneColFixCtrHdr #formZip1 {

	width: 50px;

	font-size: 16px;

}

.oneColFixCtrHdr #formZip2 {

	width: 80px;

	font-size: 16px;

}

.oneColFixCtrHdr #formAddress1 {

	width: 450px;

	font-size: 16px;

}

.oneColFixCtrHdr #formAddress2 {

	width: 450px;

	font-size: 16px;

}

.oneColFixCtrHdr #formTel {

	width: 450px;

	font-size: 16px;

}

.oneColFixCtrHdr #formMail1 {

	width: 450px;

	font-size: 16px;

}

.oneColFixCtrHdr #formMail2 {

	width: 450px;

	font-size: 16px;

}

.oneColFixCtrHdr #errors {

	color: #eb3030;

	margin: 15px auto 0 auto;

	text-align: center;

}

.oneColFixCtrHdr #mainContent th.about {

	text-align: center;

	width: 100%;

	background-color: #f6f6f6;

	color: #8E5D76;

	line-height: 18px;

	padding-top: 22px;

	font-weight: bold;

	font-size: 14px;

}

.oneColFixCtrHdr #mainContent th.your {
	background-color: #000000;
}
