@charset "utf-8";



body {


	margin: 0; /* 複数の異なるブラウザの初期設定値に対応するため、body エレメントのマージンと余白を 0 にすることをお勧めします */

	padding: 0;

	text-align: center; /* これにより、IE 5* ブラウザではコンテナが中央揃えになります。そして、テキストは、#container セレクタの初期設定である左揃えに設定されます */

	color: #000000;

	background-color: #f4f4eb;

}

div,h1,h2,h3,h4,p,ul,ol,li,img{

	border:0;

	padding:0;

	margin: 0;

}

.oneColFixCtrHdr #page {

	width: 818px;

	text-align: left; /* この設定は body エレメントの text-align: center より優先されます。 */

	margin-top: 0;

	margin-right: auto;

	margin-bottom: 0;

	margin-left: auto;

	background-color: #f4f4eb;

}

.oneColFixCtrHdr #container {

	width: 818px;

	text-align: left; /* この設定は body エレメントの text-align: center より優先されます。 */

	margin-top: 0;

	margin-right: auto;

	margin-bottom: 0;

	margin-left: auto;

	background-color: #f4f4eb;

	background-image: url(../images/main_bg.gif);

	background-repeat: repeat-y;

	padding-right: 5px;

	padding-left: 5px;

}

.oneColFixCtrHdr #kanban {

	background-image: url(../images/kanban.jpg);

	background-repeat: no-repeat;

	height: 91px;

	position: relative;

	width: 808px;

}

.oneColFixCtrHdr #mainContent {

	width: 636px;

	margin-right: auto;

	margin-left: auto;

}

.oneColFixCtrHdr #mainContent h1 {

	border-bottom-width: 2px;

	border-left-width: 4px;

	border-top-style: solid;

	border-right-style: solid;

	border-bottom-style: solid;

	border-left-style: solid;

	border-top-color: #3d6497;

	border-right-color: #3d6497;

	border-bottom-color: #3d6497;

	border-left-color: #3d6497;

	font-size: 15px;

	font-style: normal;

	font-weight: normal;

	padding-top: 3px;

	padding-bottom: 3px;

	padding-left: 8px;

}

.oneColFixCtrHdr #description {

	color: #3D6497;

	text-align: center;

}

.oneColFixCtrHdr #mainContent th {

	width: 140px;

	background-color: #3D6497;

	color: #FFFFFF;

	text-align: left;

	padding: 10px;

}

.oneColFixCtrHdr #footer {

	background-image: url(../images/footer_bg.gif);

	background-repeat: no-repeat;

	background-position: bottom;

	height: 15px;

	width: 818px;

}

.oneColFixCtrHdr #page #headLogo {

	position: absolute;

	left: 36px;

	top: 11px;

}

.oneColFixCtrHdr #mainContent h1 {

	margin-top: 9px;

}

.oneColFixCtrHdr #visualImage {

	margin-top: 9px;

}

.oneColFixCtrHdr #description {

	margin-top: 9px;

}

.oneColFixCtrHdr #mainContent table {

	margin-top: 9px;

}

.oneColFixCtrHdr #particular {

	margin-top: 9px;

	margin-right: auto;

	margin-left: auto;

	border: 1px solid #808080;

	background-color: #ebebeb;

	color: #666666;

	width: 460px;

	padding: 8px;

}

.oneColFixCtrHdr #particular h3 {

	padding: 5px;

	width: 56px;

	background-color: #FFFFFF;

	margin-right: auto;

	margin-left: auto;

	border: 1px solid #808080;

	font-size: 10px;

	font-weight: bold;

	letter-spacing: 1px;

	text-align: center;

}

.oneColFixCtrHdr #particular ul {

	font-size: 10px;

	list-style-position: inside;

	margin-top: 8px;

	margin-bottom: 12px;

	padding-right: 20px;

	padding-left: 20px;

	line-height: 120%;

}

.oneColFixCtrHdr #particular>p {

	font-weight: bold;

	background-color: #FFFFFF;

	text-align: center;

	border: 1px solid #808080;

	margin-top: 4px;

	padding: 4px;

	font-size: 10px;

	width: 150px;

	margin-right: auto;

	margin-left: auto;

	line-height: 100%;

}

.oneColFixCtrHdr #particular input {

	padding: 0px;

	height: 10px;

	width: 10px;

	margin-top: 0px;

	margin-right: 0px;

	margin-bottom: 0px;

	margin-left: 4px;

	vertical-align: text-bottom;

}

.oneColFixCtrHdr #privacy {

	margin-top: 9px;

	width: 460px;

	margin-right: auto;

	margin-left: auto;

	font-size: 10px;

	color: #666666;

	padding: 4px;

}

.oneColFixCtrHdr #privacy ul {

	list-style-position: inside;

}

.oneColFixCtrHdr #confirmation {

	font-size: 10px;

	margin-top: 18px;

	text-align: center;

}

.oneColFixCtrHdr #submit {

	margin-top: 18px;

	text-align: center;

}

.oneColFixCtrHdr #copyright {

	font-size: 10px;

	color: #808080;

	text-align: center;

	margin-top: 36px;

	padding-bottom: 9px;

}

.oneColFixCtrHdr #particular label {

	margin-left: 4px;

}

.oneColFixCtrHdr #privacy h3 {

	font-size: 10px;

}

.oneColFixCtrHdr #confirm {

	text-align: center;

	margin-top: 18px;

}

