@charset "UTF-8";
/* CSS Document */

/* 上映スケジュール
-----------------------------------------------------------------------------------------------------------*/	
h3{
	font-size:15px;
	padding:5px 0 5px 10px;
	background-color:#f0f0f0;
	margin-bottom:5px;
}
span.bread{
	font-size:12px;
}
span.notice{
	font-size:10px;
	line-height:10px;
}
span.stand_out{
	font-size:15px;
	color:#e60000;
}
.table_wrapper{
	padding:0 10px 15px 10px;
	border-bottom: 1px solid #C8C8C8;
    border-left: 1px solid #C8C8C8;
    border-right: 1px solid #C8C8C8;
}
table.access_t{
	border-left: 1px solid #C8C8C8;
    border-right: 1px solid #C8C8C8;
	width:100%;
}
table.access_u{
	width:100%;
}
th.table_line_01{
	font-size:1px;
	background-color: #0096DC;
    height: 5px;
}
td.table_line_02{
	font-size:1px;
	border-bottom:1px dashed #918B8A;
}
td.table_top_01{
	background-color: #F0F0F0;
    font-size: 15px;
    margin-bottom: 5px;
    padding: 5px 0 5px 10px;
}
td.access_tl{
	vertical-align:middle;
	padding:5px 0 5px 0;
	width:70px;
}
td.access_tr{
	vertical-align:middle;
	padding:5px 0 5px 0;
}
td.access_to{
	vertical-align:middle;
	padding:5px;
}
td.access_map{
	vertical-align:middle;
	padding:10px 0;
	text-align:center
}
.access{
}
.access_t a{
	text-decoration:underline; color:#000000;
}
.sub02{
	color:#dc0000;
	padding:0 0 6px 0;
}
.tex01{
	padding:0 0 6px 0;
}
.tex02{
	padding:0 0 9px 0;
}
.top{
	padding:0 0 0 0;
}
.end{
	margin-bottom:5px;
}
.border_n{
	border:none;
}		
/* ボタンの透過処理
-----------------------------------------------------------------------------------------------------------*/	
.hover{
	opacity:0.5;
	}		
	
/* 調整
-----------------------------------------------------------------------------------------------------------*/	
.regulation01 {
	padding:0 0 0 0 !important;
}
.regulation02 {
	margin-bottom:18px;
}
.regulation03 {
	padding-top:0 !important;
}
.regulation04 {
	padding-bottom:0 !important;
}