@charset "UTF-8";
/* CSS Document */

/* 上映スケジュール
-----------------------------------------------------------------------------------------------------------*/	
h3{
	font-size:15px;
	padding:5px 0 5px 10px;
	background-color:#f0f0f0;
	margin-bottom:5px;
}
span.bread{
	font-size:12px;
}
span.notice{
	font-size:10px;
	line-height:11px;
}
.table_wrapper{
	padding:0 10px 15px 10px;
	border-bottom: 1px solid #C8C8C8;
    border-left: 1px solid #C8C8C8;
    border-right: 1px solid #C8C8C8;
}
table.theater_t{
	border-left: 1px solid #C8C8C8;
    border-right: 1px solid #C8C8C8;
	width:100%;
}
table.theater_u{
	width:100%;
}
th.table_line_01{
	font-size:1px;
	background-color: #0096DC;
    height: 5px;
}
td.table_line_02{
	font-size:1px;
	border-bottom:1px dashed #918B8A;
}
td.table_top_01{
	background-color: #F0F0F0;
    font-size: 15px;
    margin-bottom: 5px;
    padding: 5px 0 5px 10px;
}
td.admission_tl{
	vertical-align:middle;
	padding:5px 15px 5px 5px;
}
td.admission_tr{
	vertical-align:middle;
	text-align:right;
	padding:5px;
	width:112px;
}
td.admission_to{
	vertical-align:middle;
	padding:5px;
}
.admission{
}
.sub02{
	color:#dc0000;
	padding:0 0 6px 0;
}
.tex01{
	padding:0 0 6px 0;
}
.tex02{
	padding:0 0 9px 0;
}
.top{
	padding:0 0 0 0;
}
.end{
	margin-bottom:5px;
}
.border_n{
	border:none;
}
/* pickup
-----------------------------------------------------------------------------------------------------------*/	
.section .pickup{
	padding:5px 0 5px 0;
	margin-left:35px;
	}
.section .pickup2{
	padding:5px 0 5px 0;
	margin-left:55px;
	}	
.section .pickup3{
	padding:5px 0 5px 0;
	margin-left:10px;
	}		
/* ボタンの透過処理
-----------------------------------------------------------------------------------------------------------*/	
.hover{
	opacity:0.5;
	}		
	
/* 調整
-----------------------------------------------------------------------------------------------------------*/	
.regulation01 {
	padding:0 0 0 0 !important;
}
.regulation02 {
	margin-bottom:18px;
}
.regulation03 {
	padding-top:0 !important;
}
.regulation04 {
	padding-bottom:0 !important;
}
/* 4月〜
-----------------------------------------------------------------------------------------------------------*/	
.aprilArea a{
	font-size: 15px;}
	
.headline01{
    font-size: 15px;
	margin:25px 0 5px;
	  color: #FF0000;
	  border-bottom:1px solid #FF0000;
	  }	
	
	
	