@charset "UTF-8";
/* CSS Document */


/* 会社概要	
-----------------------------------------------------------------------------------------------------------*/	
.company_unit{
	display:table;
	width:100%;
}
.company_l{
	display:table-cell;
	padding-right:10px;
}
.company_r{
	display:table-cell;
}
	/* ボタンの透過処理
-----------------------------------------------------------------------------------------------------------*/	
.hover{
	opacity:0.5;
	}		