@charset "UTF-8";
/* CSS Document */


/* 特定商取引に基づく表示	
-----------------------------------------------------------------------------------------------------------*/	
h3{
	font-size:15px;
	padding:0 0 12px 0;
}
.sub02{
	color:#dc0000;
	padding:0 0 6px 0;
}
.tex01{
	padding:0 0 6px 0;
}
.top{
	padding:0 0 0 0;
}
-----------------------------------------------------------------------------------------------------------*/	
.hover{
	opacity:0.5;
	}		