@charset "UTF-8";
/* CSS Document */


/* プライバシーポリシー	
-----------------------------------------------------------------------------------------------------------*/	
h3{
	font-size:15px;
	padding:5px 0 5px 10px;
	background-color:#f0f0f0;
	margin-bottom:5px;
}
.sub02{
	color:#dc0000;
	padding:0 0 6px 0;
}
.tex01{
	padding:0 0 6px 0;
}
.tex02{
	padding:0 0 9px 0;
}
.top{
	padding:0 0 0 0;
}
.end{
	margin-bottom:5px;
}
.border_n{
	border:none;
}

	/* ボタンの透過処理
-----------------------------------------------------------------------------------------------------------*/	
.hover{
	opacity:0.5;
	}		