@charset "UTF-8";
/* CSS Document */


/* スケジュール	
-----------------------------------------------------------------------------------------------------------*/	
.schedule select {
  width: 260px;
  font-size:12px;
  height:35px;
}		
.top_schedule{
	padding:0 0 5px 0;
	}
.btn_submit{
	text-align:center;
	padding:16px 0 18px 0;
	width:280px;
	margin: 0 auto;
	}		
.schedule_txt{
	padding:15px 0px 15px;
	}	
.schedule_box{
	padding: 5px 0px;
	width: 95%;
	margin: 0 auto;
}		
/* ranking
-----------------------------------------------------------------------------------------------------------*/	
.rankingbox{
	 border-left:solid 1px #c8c8c8;
	 border-right:solid 1px #c8c8c8;
	 border-bottom:solid 1px #c8c8c8;
	 width:95%;
	 margin:0 auto 10px;
	/* padding:0 0 0 5px;*/
	}

.rankingbox .between{
	margin:0 0 5px 0;
	color:#0265FF;
	font-weight:bold;
	color:;
}

.rankingbox ul{
	padding:10px;
}

.rankingbox ul li{
	width:30%;
	float:left;
	margin:5px 10px 0 0;
}

.rankingbox ul li.num02{
	margin:0 10px;
}
.rankingbox ul li p.num,
.rankingbox ul li p.photo{
	margin:0 0 5px 0;
}

.rankingbox ul li p.num{
	text-align:center;
}


.rankingbox .movie{
	}	
.rankingbox .number1{
	padding:0 35px 5px 35px;
	}		
.rankingbox .number2{
	
	padding:0 40px 10px 35px;
	}	

/* news
-----------------------------------------------------------------------------------------------------------*/	

/*.newsbox{
	 border:solid 1px #c8c8c8;
	 border-top: solid 5px #0096dc;
	 width:100%;
	 margin:0 auto;
	}*/
	
.basebox2 .more{
	text-align:right;
	padding:5px 5px 10px 0;
	}	


.news_section p{
		/*padding:0 5px 0 5px;*/
	}	


/* pickup
-----------------------------------------------------------------------------------------------------------*/	
.section .pickup{
	padding:5px 0 5px 0;
	margin-left:35px;
	}
/* ニュース詳細	
-----------------------------------------------------------------------------------------------------------*/	
div.newsArea{
	text-align:center;
}

.news_list li{
	padding:5px 4px;
	font-size:14px;
	}
	
ul.news_list,
ul.news_list li{
	display:inline;
    float: none!important;
  	vertical-align:sub;
}
	
.news_return{
	float:left;
	padding:0 10px 0 10px;
	width:64px;
	height:32px;
	}
.news_next{
	float:right;
	padding:0 10px 0 0;
	width:64px;
	height:32px;
	}	
.newsbox{
	 border-left:solid 1px #c8c8c8;
	 border-right:solid 1px #c8c8c8;
	 border-bottom:solid 1px #c8c8c8;
	 width:300px;
	 margin:0 auto;
	}	

.newsbox_title{    
    background-color: #F0F0F0;
	font-weight:bold;
    font-size: 15px;
    padding: 5px 0 5px 10px;
	}