body, th, td { margin:10px; font-size:12px; color:#000000;}
a:link { color: #0000FF; }
a:visited { color: #0000FF; }
a:active { color: #0000FF; }

.input15 { width:15px; }

.t08 { font-size:8px ; line-height:12px ; }
.t09 { font-size:9px ; line-height:12px ; }
.t10 { font-size:10px ; line-height:14px ; }
.t10red { font-size:10px ; line-height:14px ; color:#ff0000;}
.t12 { font-size:12px ; line-height:18px ;}
.t12gray { font-size:12px ; line-height:18px ; color:#C0C0C0;}
.t12b { font-size:12px ; line-height:18px ; font-weight:bold ; }
.t14 { font-size:14px ; line-height:18px ;}
.t18 { font-size:18px ; line-height:22px ;}

DIV.head{background-color:"#FFCC00";};
TH.tableHeader { background-color:"#FFA500";}
TD.tableElementGray { background-color: "#C0C0C0"; }
TD.tableElement { background-color: "#FFFFF0"; }
TD.msg{font-size:12px;}
FONT.tableStr {font-size:12px ;width:100%;color:"#FFFFFF";}
FONT.head{font-size:12px ;width:100%; color:"#000000";}

a.lnk_title:link { color:#FFFFFF; text-decoration:underline }
a.lnk_title:visited { color:#FFFFFF; text-decoration:underline }
a.lnk_title:hover { color:#ff6600; text-decoration:underline }
a.lnk_title:active { color:#ff6600; text-decoration:underline }

a.lnk_mo:link { color:#0000FF; text-decoration:underline }
a.lnk_mo:visited { color:#0000FF; text-decoration:underline }
a.lnk_mo:hover { color:#ff6600; text-decoration:underline }
a.lnk_mo:active { color:#ff6600; text-decoration:underline }
