.imax_log_box {
	width:480px;	
	text-align:center;
	float:left;
	margin-top:0px;
}

.imax_log_box img{
	text-align:center;	 
}

.imax_text_area{
	background-image:url(../images/theater/theater_txt_bg.gif);
	background-repeat:no-repeat;
	width:435px;
	min-height:332px;
	padding:10px;
	float:right;
	line-height:145%;
}

.imax_infomation{
	width:903px;
	min-height:440px;
	float:left;
	border:#fff 2px solid;
	text-align:left;
	padding:20px 25px;
	margin-top:20px;
}

imax_infomation p{
	font-size:12px;
}

.imax_infomation_text{
	float:left;
	width: 582px;
}

.imax_infomation_figure{
	float:right;
	margin-top:0px;
	width: 316px;
	margin-right: 10px;
}

.button{
	margin-top:10px;
}

.imax_infomation_text h2{
	font-size:20px;
	color:#00B2FF;
}

.imax_infomation_text table{
	margin-top:10px;
	margin-left:0px;
}

.imax_infomation_text table .column{
	font-size:11px;
}
.column{
	width:80px;
	background-color:#0090d5;
	text-align:center;
}

.space{
	width:20px;
}

.value{
	width:460px;
	font-size:15px;
}

.spacer{
	height:10px;
}


.price_infomation{
	width:903px;
	min-height:380px;
	float:left;
	border:#fff 2px solid;
	text-align:left;
	padding:10px 25px;
	margin-top:20px;
}

.textArea {
	margin-left:50px;
	margin-top:10px;
	width:790px;
}

.textArea  table tr td {
		padding-bottom:5px;
}

.b_txt {
	color:#0090d5;
	font-size:18px;
}

.w_txt {
	color:#FFF;
	font-size:18px;
}

.smalltxt {
	  color:#FFF;
	  font-size:12px;
  }

.textArea tr{
	margin:0 0 5px 0;
}

.page-link{
	width:980px;
	height:100px;
	border:solid 1px #026E96;
	background-color:#000000;
	background-image:url(../images/theater/theater_link_bg.gif);
	margin-top: 15px;
	
}

.linkbtn{
	width:970px;
	height:48px;
	margin:auto;
}

.linkbtn ul li{
background-color: #000000;
    float: left;
    height: 48px;
    margin: 10px 14px;
    width: 214px;
}

.sns-btn-left1{
	margin-top:5px;
}

.theater-link{
	margin:20px 0 ;
}

.imax_infomation_text table